
*{
  padding:0;
  margin:0;
}
@font-face { 
  font-family: 'MyFont'; 
  src: url('OrientalCatsLight-2OzB8.otf') format('opentype'); 
  font-weight: normal; 
  font-style: normal; 
}
html
{
  scroll-behavior: smooth;
  height: 100%;
  background-color: dimgray !important;
}

body{
  background-color:dimgray !important;
  height: 100%;
}

button{
  background-color: #ff8c00 !important;
  color: #fff !important;
  border: none !important;
}

button:hover{
  background-color: #a55b00 !important;
  color: #fff !important;
  border: none !important;
}

.title-font{
  font-family: 'MyFont', sans-serif; 
  font-size: 2em;
  color: #ff8c00;
  font-weight: 900;
}
  #forum {
    padding: 20px;
    background-color: #3a3a3a;
    border-radius: 10px;
    margin-top: 50px;
  }
  
  #forum h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #fff;
  }
  
  #forum .input-group {
    margin-bottom: 20px;
  }
  
  #forum .input-group input, 
  #forum .input-group button {
    height: 50px;
  }
  
  #forum #submitQuestion {
    background-color: #007bff;
    color: #fff;
  }
  
  #forum .question-item {
    background-color: #4a4a4a;
    padding: 20px;
    margin-top: 10px;
    border-radius: 5px;
    color: #fff;
  }
  
  #forum .question-item .question-text {
    display: inline-block;
    margin-bottom: 10px;
  }
  
  #forum .question-item .answer-btn{
    vertical-align: middle;
  }
  
  #forum .answer-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  #forum .answer-btn:hover {
    background-color: #0056b3;
  }
  
  #forum .answer-list {
    margin-top: 20px;
  }
  
  #forum .answer-item {
    background-color: #5a5a5a; /* Answer item background */
    padding: 10px;
    margin-top: 5px;
    border-radius: 3px;
    color: #fff;
  }
  
  #forum .answer-form .btn-outline-danger {
    background-color: red;
    color: white;
    border: none;
    margin-left: 5px;
  }
  
  #forum .answer-form .btn-outline-danger:hover {
    background-color: darkred;
  }
  
  .navbar {
    background-color: #343a40; /* Dark grey background for the navbar */
  }
  
  .navbar a {
    color: white; /* White color for navbar links */
  }
  
  .navbar a:hover {
    color: lightgrey; /* Light grey color on hover */
  }