<!DOCTYPE html>
{% from "_formhelpers.html" import render_field %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='star-rating.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='star-rating.min.css') }}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    crossorigin="anonymous">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    body {
      background-image: url('static/img.png');
      background-repeat: no-repeat;
    }
  </style>
</head>

<body class="darkBdy">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('home')}}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('upload')}}">Link</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <b style="color:lightslategrey; margin-right: 10px;">{{ session['user_name'] }}</b>
        <a class="btn btn-danger" href="{{ url_for('logout')}}">Log Out</a>
      </form>
    </div>
  </nav>

  <div class="container">

    <h1>Star rating </h1>


    <label for="input-1" class="control-label">Rate This</label>
    <input id="input-1" name="input-1" class="rating rating-loading" data-min="0" data-max="5" data-step="1">

    <div class="row">
      <div class="col md-12">
        {% with errors = get_flashed_messages(category_filter=["error"]) %}
        {% if errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="font-size: 12px;">
          {%- for msg in errors %}
          {{ msg }}
          {% endfor -%}
        </div>
        {% endif %}
        {% endwith %}
        {% with errors = get_flashed_messages(category_filter=["success"]) %}
        {% if errors %}
        <div class="alert alert-success alert-dismissible fade show" role="alert" style="font-size: 12px;">
          {%- for msg in errors %}
          {{ msg }}
          {% endfor -%}
        </div>
        {% endif %}
        {% endwith %}
        <h2><b></b>Manage Users</b></h2>
        <table class="table table-hover table-dark">
          <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>User Email</th>
            <th></th>
          </tr>
          {% for row in users %}
          <tr>
            <td>{{row.id}}</td>
            <td>{{row.user_fName}}</td>
            <td>{{row.user_lName}}</td>
            <td>{{row.user_email}}</td>
            <td>
              <a href="/update/{{row.id}}" class="btn btn-warning btn-xs" data-toggle="modal"
                data-target="#modaledit{{row.id}}">Edit</a>
              <a href="/delete/{{row.id}}" class="btn btn-danger btn-xs" data-toggle="modal"
                onclick="return confirm('Are you sure to Delete?')">Delete</a>
              <a href="/email/{{row.user_email}}" class="btn btn-success btn-xs" data-toggle="modal"
                onclick="return confirm('Are you sure to send email?')">Email</a>
              <div class="rating">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
              </div>
            </td>
          </tr>
          <div id="modaledit{{row.id}}" class="modal modal-fade" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Update User</h4>
                </div>
                <div class="modal-body">
                  <form action="{{url_for('update')}}" method="POST">
                    <div class="form-group">
                      <label>First Name:</label>
                      <input value="{{row.id}}" type="hidden" name="id">
                      <input type="text" class="form-control" name="firstname" value="{{row.user_fName}}" required="1>"
                        </div>
                      <div class="form-group">
                        <label>Last Name:</label>
                        <input type="text" class="form-control" name="lastname" value="{{row.user_lName}}" required="1>"
                          </div>
                        <div class="form-group"></div>
                        <label>Email:</label>
                        <input type="text" class="form-control" name="email" value="{{row.user_email}}" required="1>"
                          </div>
                        <div class="form-group">
                          <button class="btn btn-primary" type="submit">Update User</button>
                          <div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</body>

</html>