
@font-face { 
    font-family: 'MyFont'; 
    src: url('OrientalCatsLight-2OzB8.otf') format('opentype'); 
    font-weight: normal; 
    font-style: normal; 
 }
  body {
    background-color: #424242;
    color: #FFFFFF;
    height: 100%;
   
 }
 html
   {
      scroll-behavior: smooth;
      height: 100%;
   }

 .title-font{
    font-family: 'MyFont', sans-serif; 
    font-size: 2em;
    color: #ff8c00;
    font-weight: 900;
    margin-left: 15px;
 }
 .petfont{
    font-family: 'MyFont', sans-serif; 
    font-size: 1.5em;
 
 }
 ::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    
}

::-webkit-scrollbar-track {
    background: #2e2e2e; 
      border-radius: 10px;
    
}

::-webkit-scrollbar-thumb {
    background: #ff8c00; 
    border-radius: 10px;
}
/* reference:https://stackoverflow.com/questions/42115110/how-can-i-change-the-scrollbar-style-in-bootstrap */

.text-overlay{
   color:#fff;
   position: absolute;
   z-index:1;
   left: 6%;
   top:25%;
}
#nav-name{
   
   font-size: 1em;
   color: #ff8c00;
   font-weight: 900;
   margin-left: 15px;

}
button{
      background-color: #ff8c00 !important;
      color: #fff !important;
      border: none !important;
}

button:hover{
      background-color: #a55b00 !important;
      color: #fff !important;
      border: none !important;
}

.modal-dialog {
   animation: myAnimation 0.1s forwards;
}

.like-buttons{
   position: relative;
   bottom: 40px;
   left: 10px;
   width: 20%;
}

.avatar{
   width: 50px;
   height: 50px;
   border-radius: 50%;
   border: 2px solid #ff8c00;
   margin-left: 20px;
   margin-right: 10px;
}

@media (max-width: 768px) {
   .text-overlay {
      left: 2%;
      top: 15%;
      
   }
   .text-overlay h1{
      font-size: 1.2em;
   }
}

@keyframes myAnimation {
   0% {
      transform: translateX(100%);
   }
   100% {
      transform: translateX(0);
   }
}
