
@font-face { 
    font-family: 'MyFont'; 
    src: url('OrientalCatsLight-2OzB8.otf') format('opentype'); 
    font-weight: normal; 
    font-style: normal; 
 }
  body {
    background-color: #424242;
    color: #FFFFFF;
 }

 .title-font{
    font-family: 'MyFont', sans-serif; 
    font-size: 2em;
    color: #ff8c00;
    font-weight: 900;
    margin-left: 15px;
 }
 .petfont{
    font-family: 'MyFont', sans-serif; 
    font-size: 1.5em;
 
 }
 ::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    
}

::-webkit-scrollbar-track {
    background: #2e2e2e; 
      border-radius: 10px;
    
}

::-webkit-scrollbar-thumb {
    background: #ff8c00; 
    border-radius: 10px;
}
/* reference:https://stackoverflow.com/questions/42115110/how-can-i-change-the-scrollbar-style-in-bootstrap */

.text-overlay{
   color:#fff;
   position:absolute;
   z-index:1;
   left: 6%;
   top:25%;
  
}
button{
      background-color: #ff8c00 !important;
      color: #fff !important;
      border: none !important;
}

button:hover{
      background-color: #a55b00 !important;
      color: #fff !important;
      border: none !important;
}

