<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gallery</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
    <!-- bootstrap click-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- custom css file link -->
    <link rel="stylesheet" href="gallery.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="padding: 10px;">
        <a class="  navbar-brand " href="#"><div class="title-font">Pawfect</div></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="home.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Upload</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="gallery_new.html">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Aboutus.html">About</a>
                </li>
            </ul>
        </div>
    </nav>

<div class="gallery">

    <ul class="controls">
        <li class="buttons active" data-filter="all">all</li>
        <li class="buttons" data-filter="2021">2021</li>
        <li class="buttons" data-filter="2022">2022</li>
        <li class="buttons" data-filter="2023">2023</li>
    </ul>

     <div class="image-container" >

        <a href="./images/annual2.png" class="image 2021">
            <img src="./images/annual2.png" alt="">
        </a>
        <a href="./images/annual3.jpg" class="image 2021">
            <img src="./images/annual3.jpg" alt="">
        </a>
        <a href="./images/cat-293.jpg" class="image 2021">
            <img src="./images/dog1.jpg" alt="">
        </a>
        <a href="./images/dog795.jpg" class="image 2021">
            <img src="./images/dog795.jpg" alt="">
        </a>

        <a href="./images/annual6.png" class="image 2021">
            <img src="./images/annual6.png" alt="">
        </a>

        <a href="./images/peacock-651.jpg" class="image 2022">
            <img src="./images/peacock-651.jpg" alt="">
        </a>
        <a href="./images/parrot-360.jpg" class="image 2022">
            <img src="./images/parrot-360.jpg" alt="">
        </a>

        <a href="images/annual1.jpg" class="image 2022">
            <img src="images/annual1.jpg" alt="">
        </a>

        <a href="images/annual5.png" class="image 2022">
            <img src="images/annual5.png" alt="">
        </a>

        <a href="./images/annual4jpg" class="image 2022">
            <img src="images/annual4.jpg" alt="">
        </a>
        <a href="./images/boy&pet.png" class="image 2023">
            <img src="./images/boy&pet.png" alt="">
        </a>
        <a href="./images/friends-304.jpg" class="image 2023">
            <img src="./images/friends-304.jpg" alt="">
        </a>

        <a href="./images/mouse&cat.jpg" class="image 2023">
            <img src="./images/mouse&cat.jpg" alt="">
        </a>

        <a href="./images/dog-friend3.jpg" class="image 2023">
            <img src="./images/dog-friend3.jpg" alt="">
        </a>

     </div>
</div>

<!-- jquery cdn link-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- margnific popup is cdn link-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
<script>
$(document).ready(function(){
    $('.buttons').click(function(){
       $(this).addClass('active').siblings().removeClass('active');

       var filter = $(this).attr('data-filter')

       if(filter == 'all') {
        $('.image').show(400);
       }else{
        $('.image').not('.'+filter).hide(200);
        $('.image').filter('.'+filter).show(400);
       }
       
    });

    $('.gallery').magnificPopup({

        delegate:'a',
        type:'image',
        gallery:{
            enabled:true
        }
    });

});

</script>

<footer class="footer bg-black text-white text-center py-3">
    <div class="container">
        <span>&copy; 2024 Pawfect. All rights reserved.</span>
    </div>
</footer>

</body>
</html>